.dropdown:hover>.dropdown-menu{
    display: block;
}
.header2, .alert{
    z-index: 100;
}
.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
    display: flex;
}
.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}
.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
/*.tarjeta{
    margin-bottom: 15px;
}*/
.logo{
    animation: myAnim 1s ease 0s 1 normal forwards;
}
.logo-inicio{
    display: flex;
    justify-content: center;
    padding-top:1rem;
}
.carrito{
    margin-left: 10px;
}
.hide, .remove{
    display: none;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}